<html>
<style type="text/css">
body {
	font-family:arial;
	font-size:1.25em;
	margin-left:20px;
	margin-top:40px;
	}
a {text-decoration:none;}
a.button {
 background-color:green;
 cursor:pointer;
 color:#ffffff;
 padding:3 10 5 10px;
 -moz-border-radius: 3px;
	border-radius: 3px;
 
}
</style>
<body>
<%= yield %>
</body>
</html>
